@page "/todo/create"
@inject HttpClient http
@inject NavigationManager uriHelper

<h3>Create</h3>
<Form ButtonText="Create" todo="@todo" OnValidSubmit="@CreateTodo"></Form>

@code {
    Todo todo = new Todo();
    async Task CreateTodo()
    {
        await http.PostAsJsonAsync("api/v1.0/todo", todo);
        uriHelper.NavigateTo("todo");
    }
}
