@using BlazorApp.Server.Models
@page "/diary/create"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Create</h3>
<Form ButtonText="Create" diary="@diary" OnValidSubmit="@CreateDiary"></Form>

@code {
    Diary diary = new Diary();
    async Task CreateDiary()
    {
        await http.PostAsJsonAsync("api/v1.0/diary", diary);
        uriHelper.NavigateTo("diary");
    }
}
